USE [master]
GO
/****** Object:  Database [WareHouseBM]    Script Date: 04.11.2019 21:48:32 ******/
CREATE DATABASE [WareHouseBM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WareHouseBM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WareHouseBM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WareHouseBM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WareHouseBM_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WareHouseBM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WareHouseBM]
GO
/****** Object:  User [php]    Script Date: 04.11.2019 21:48:32 ******/
CREATE USER [php] FOR LOGIN [php] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [php]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [php]
GO
/****** Object:  Table [dbo].[img]    Script Date: 04.11.2019 21:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img_tmp] [nvarchar](max) NOT NULL,
	[img_name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_img] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 04.11.2019 21:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[AMEI] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[AMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_img]    Script Date: 04.11.2019 21:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_img](
	[loginAMEI] [int] NOT NULL,
	[imgId] [int] NOT NULL,
 CONSTRAINT [PK_login_img] PRIMARY KEY CLUSTERED 
(
	[loginAMEI] ASC,
	[imgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 04.11.2019 21:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id_mat] [int] IDENTITY(1,1) NOT NULL,
	[date_reg] [date] NOT NULL,
	[name_mat] [varchar](80) NOT NULL,
	[text_en] [varchar](100) NOT NULL,
	[qty] [int] NULL,
	[bar_code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 04.11.2019 21:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[login_img]  WITH CHECK ADD  CONSTRAINT [FK_login_img_img] FOREIGN KEY([imgId])
REFERENCES [dbo].[img] ([id])
GO
ALTER TABLE [dbo].[login_img] CHECK CONSTRAINT [FK_login_img_img]
GO
ALTER TABLE [dbo].[login_img]  WITH CHECK ADD  CONSTRAINT [FK_login_img_login] FOREIGN KEY([loginAMEI])
REFERENCES [dbo].[login] ([AMEI])
GO
ALTER TABLE [dbo].[login_img] CHECK CONSTRAINT [FK_login_img_login]
GO
USE [master]
GO
